@page
@model EpitmenyadoWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].TaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].StreetNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building[0].Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Building) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
